.App{
    display: flex;
    justify-content: center
}

.wrapper{
    max-width: 1110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.square {
    width: 350px;
    height: 350px;
    border: solid 2px #000;
}

.overSquare{
    position: absolute;
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: .5s
}
